@model RPM_3_Course.Models.Post

@{
    ViewBag.Title = "Изменить пост";
}
<form asp-action="EditPost" asp-controller="home" class="box">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Title"></label><br />
        <input type="text" asp-for="Title" class="form-control" placeholder="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Message"></label><br />
        <textarea cols="10" rows="10" type="text" asp-for="Message" class="form-control" placeholder="Message"></textarea>
        <span asp-validation-for="Message"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date"></label><br />
        <input type="date" asp-for="Date" class="form-control" placeholder="Date" />
        <span asp-validation-for="Date"></span>
    </div>
    <div class="form-group">
        <input asp-for="UserId" type="number">
    </div>
    <div class="form-group">
        <input asp-for="PostPictureId" type="number">
    </div>
    <div class="form-group">
        <input type="submit" value="Редактировать" class="btn btn-default" />
    </div>
    <div>
        <a asp-action="IndexPost">Назад</a>
    </div>
</form>