/*.box {*/
    /*width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;*/
    /*text-align: center;
}

Body {
    margin: 0;
    padding: 0;
    font-family: 0;
    background: #191919;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    color: yellowgreen;
    border: solid 3px #2ecc71;
    outline: solid 3px #3498db;
}

.del {
    color: red;
}

.re {
    color: #00ffff;
}

.table thead th {
    border: 1px solid #2ecc71;
    font-weight: bold;
    text-align: left;
    padding: 10px 15px;
    font-size: 20px;
    color: yellowgreen;
}

.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
    border: 1px solid #2ecc71;
}

.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
    border: 1px solid #2ecc71;
}

.table tbody td {
    border: 1px solid #2ecc71;
    text-align: left;
    padding: 10px 15px;
    font-size: 20px;
    vertical-align: top;
    color: yellowgreen;
}

.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
    border: 1px solid #2ecc71;
}

.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
    border: 1px solid #2ecc71;
}

Body {
    margin: 0;
    padding: 0;
    font-family: 0;
    background: #191919;
    color: white;
}



box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.box input[type="text"], .box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

    .box input[type="text"]:focus, .box input[type = "password"]:focus {
        width: 280px;
        border-color: #2ecc71;
    }

.box input[type="text"], .box input[type = "email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

    .box input[type="text"]:focus, .box input[type = "email"]:focus {
        width: 280px;
        border-color: #2ecc71;
    }
.box input[type="text"], .box input[type = "number"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

    .box input[type="text"]:focus, .box input[type = "number"]:focus {
        width: 280px;
        border-color: #2ecc71;
    }

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

    .box input[type = "submit"]:hover {
        background: #2ecc71;
    }*/
